* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body {
  background: #95FF3C;
}

.content {
  margin: 10px auto;
  width: 600px;
  border: solid 2px;
  background-color: #5EB319;
}

.user-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.grocery-input {
  width: 500px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
  border: solid 1px
}

.submit-btn {
  width: 500px;
  padding: 5px;
  margin: 5px auto 25px auto;
  border: none;
  font-size: 100%;
  background-color: white;
}

.name-card {
  background: #fff;
  padding: 0;
}

@media screen and (max-width: 750px) {
  .content {
    width: 725px;
  }
  .grocery-input {
    width: 700px;
  }
  .submit-btn {
    width: 700px
  }
}
