* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 200%
}

body {
  background-image: url("https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&w=500");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.content {
  margin: 10px auto;
  width: 1000px;
  border: solid 2px;
  background-color: #5EB319;
}

.user-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.grocery-input {
  width: 900px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
  border: solid 1px
}

.submit-btn {
  width: 900px;
  padding: 5px;
  margin: 5px auto 25px auto;
  border: none;
  font-size: 100%;
  background-color: white;
}

.name-card {
  background: #fff;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 900px;
  }
  .grocery-input {
    width: 800px;
  }
  .submit-btn {
    width: 800px
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 650px;
  }
  .grocery-input {
    width: 550px;
  }
  .submit-btn {
    width: 550px
  }
}
